<% content_for :meta_title, 'Contacter' %>
<% content_for :navbar_classes, 'Navbar--greenLinks' %>

<div class="Section Section--darkGreen Section--first">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="Base-subtitle">
          Une question&nbsp;?<br>
        </p>
        <h1 class="Base-title Base-title--1">Contactez-nous !</h1>
      </div>
      <div class="col-md-6">
        <%= simple_form_for @message, url: contact_path, html: { 'data-controller': 'form' } do |f| %>
          <div class="Form-inlineGroup">
            <%= f.input :sender_first_name, label: 'Votre prénom', required: true,
                        input_html: { 'data-action': 'blur->form#validate' } %>
            <%= f.input :sender_last_name, label: 'Votre nom', required: true,
                        input_html: { 'data-action': 'blur->form#validate' } %>
          </div>
          <%= f.input :sender_email, label: 'Votre email', required: true,
                      input_html: { 'data-action': 'blur->form#validate' } %>
          <%= f.input :sender_phone, as: :tel, label: 'Votre téléphone', required: true,
                      input_html: { 'data-action': 'blur->form#validate' } %>
          <%= f.input :body, label: 'Votre message', required: true,
                      input_html: { class: 'Form-text', 'data-action': 'blur->form#validate' } %>
          <%= f.input :interested_to_invest, required: false,
                      label: 'Je suis intéressé pour acheter des parts de Time for the Planet',
                      wrapper_html: { class: 'Form-checkbox' } %>

          <div class="Form-actions">
            <%= f.button :submit, 'Envoyer', class: 'Button--box' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <p class="Base-subtitle">Nous rencontrer</p>
        <h2 class="Base-title Base-title--2">Envie d’échanger ? Rencontrez-nous dans nos locaux à Lyon !</h2>
        <address class="Base-subtitle Address">
          Time for the Planet<br>
          10 rue Bellecodière<br>
          69002 Lyon<br>
        </address>
      </div>
    </div>
  </div>
</div>
