<footer class="Footer Section Section--darkGreen">
  <div class="container Footer-container">
    <div class="row">
      <div class="col-6 Footer-brand">
        <%= embedded_svg 'logo-time-planet.svg', class: "Footer-logo" %>
        <div>
          <span class="Footer-brand">Time for the Planet</span>
          <p class="Footer-tagline">L'entrepreneuriat au service de l'urgence climatique.</p>
          <a href="https://www.facebook.com/Timefortheplanet/" target="_blank">
            <%= embedded_svg 'facebook.svg', class: "Button Footer-icon" %>
          </a>
          <a href="https://www.linkedin.com/company/time-for-the-planet/" target="_blank">
            <%= embedded_svg 'linkedin.svg', class: "Button Footer-icon" %>
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-md-4 Footer-column">
            <%#= link_to 'projets', projects_path, class:'Button Footer-link' %>
            <%= link_to t('common.convention'), vision_path, class: 'Button Footer-link' %>
            <%= link_to t('common.act'), become_associate_path, class:'Button Footer-link' %>
          </div>
          <div class="col-md-5">
            <%= link_to t('common.contact'), contact_path, class:'Button Footer-link' %>
            <%= link_to 'mentions légales', legal_path, class:'Button Footer-link' %>
          </div>
          <div class="col-md-3">
            <%= link_to url_for(params.permit.merge(only_path: true)), class:'Button Button--underlined' do %>
              <%= t('common.up') %> <i class="material-icons">arrow_upward</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
