<div class="Section Section--darkGreen AssociateForm" data-target="associate-form.form">
  <div class="AssociateForm-closeContainer">
    <button class="Button AssociateForm-close" data-action="associate-form#closeForm">
      <%= raw t('common.back') %> <i class="material-icons">clear</i>
    </button>
  </div>
  <div class="container AssociateForm-container" data-target="associate-form.container">
    <%= image_tag 'certificat.jpg', class: 'AssociateForm-image' %>
    <p class="Base-subtitle">
      <%= raw t('associate_form.intro') %>
    </p>
    <p class="">
      <%= raw t('associate_form.reservation') %>
    </p>
    <form class="Form AssociateForm-form"
          id="associate"
          data-controller="form"
          data-action="associate-form#validate"
          novalidate="novalidate"
          accept-charset="UTF-8">
      <input name="utf8" type="hidden" value="✓">
      <div class="Form-field email required associate_email">
        <label class="email required Form-label" for="associate_email"><%= raw t('associate_form.form.email') %></label>
        <input class="Form-input string email required Form-input"
               data-action="blur->form#validate"
               data-target="associate-form.email"
               required="required"
               aria-required="true"
               type="email"
               name="associate[email]"
               id="associate_email">
      </div>
      <%= link_to 'https://automate-me.typeform.com/to/q56jyQ',
          class:'Button Button--box AssociateForm-submit',
          target: "_blank",
          data: { target: 'associate-form.link', action: 'associate-form#validate' } do %>
        <%= raw t('associate_form.form.submit') %>
      <% end %>
    </form>
  </div>
</div>
