<div class="ContentNavbar"
     data-controller="content-navbar"
     data-action="scroll@window->content-navbar#stickNavbar">
  <div class="container">
    <ul class="ContentNavbar-links">
      <li><%= link_to 'Pourquoi devenir associé·e ?', '#why', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= link_to 'Droit des associé·es', '#associate-status', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= link_to 'Récompenses', '#benefits', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= link_to 'Les associé·es', '#associates', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= render 'shared/associate_cta' %></li>
    </ul>
  </div>
</div>
