<% content_for :navbar_classes, 'Navbar--darkLogo Navbar--darkLinks Navbar--notSticky Navbar--lightGrey' %>

<%= render 'associate_form' %>

<%= render 'shared/associate_cta', class_name: 'Cta' %>

<div class="Section Section--lightGrey Section--first Section--lessPaddingBottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="Base-title Base-title--1 Base-title--1 Base-title--noMarginBottom">
          <%= raw t('become_associate.summary.title') %>
        </h1>
        <p class="Base-subtitle Base-subtitle--verySmall">
          <%= raw t('become_associate.summary.paragraph1') %>
        </p>
        <p class="Base-text">
          <%= raw t('become_associate.summary.paragraph2') %>
          <%= link_to t('become_associate.summary.link'), '#associate-status', data: { action: 'content-navbar#scroll' }, class: "Link" %>
        </p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="Indicators">
          <div class="Indicators-item">
            <p class="Base-title Base-title--2"><%= number_to_currency(@associates_update.total_raised, locale: :fr, precision: 0) %></p>
            <p class="Base-text"><%= raw t('become_associate.summary.counters.amount') %></p>
          </div>
          <div class="Indicators-item">
            <p class="Base-title Base-title--2"><%= number_to_human(@associates_update.total_associates, locale: :fr) %></p>
            <p class="Base-text"><%= raw t('become_associate.summary.counters.followers') %></p>
          </div>
        </div>
        <div class="Indicators">
          <div class="Indicators-item">
            <p class="Base-title Base-title--2 Base-title--noMarginTop">
              <%= (Date.today - Date.parse('05-12-2019')).to_i  %>
            </p>
            <p class="Base-text"><%= raw t('become_associate.summary.counters.elapsed_time') %></p>
          </div>
        </div>
      </div>
    </div>
    <%
    steps = t('become_associate.summary.steps').sort_by { |step| step[:amount] }
    current_step = steps.filter { |step| step[:amount] > @associates_update.total_raised }.first || steps.last
    %>
    <div class="Scale">
      <div class="Scale-container">
        <span class="Scale-cursor" style="width: <%= "#{@associates_update.step_percentage}%" %>;"></span>
      </div>
      <div class="Scale-legend">
        <%= number_to_currency(current_step[:amount], locale: :fr, precision: 0) %>
      </div>
    </div>
    <% steps.each do |step| %>
      <div class="Step PictureCard">
        <%= image_tag step[:illustration], class: 'PictureCard-image' %>
        <div class="PictureCard-content">
          <h4 class="PictureCard-title PictureCard-title--downcase">
            <b><%= step[:name] %> : <%= number_to_currency(step[:amount], locale: :fr, precision: 0) %></b>
          </h4>
          <p class="PictureCard-text">
            <%= raw step[:description] %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'content_navbar' %>

<div class="Section Section--lagoon SecondSection" id="why">
  <div class="container">
    <% t('become_associate.engagements').each do |engagement| %>
      <p class="Base-title Base-title--2"><%= raw engagement[:title] %></p>
      <p class="Base-subtitle"><%= raw engagement[:description] %></p>
    <% end %>
  </div>
</div>

<div class="Section Section--twoColors" id="associate-status">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="Base-subtitle"><%= raw t('become_associate.how_to.title') %></h2>
        <% t('become_associate.how_to.paragraphs').each do |p| %>
          <p class="Base-title Base-title--4"><%= raw p %></p>
        <% end %>
      </div>
      <div class="col-md-4 offset-md-2 Section-text--twoColorsRight">
        <h2 class="Base-subtitle"><%= t('become_associate.how_to.title2') %></h2>
        <% t('become_associate.how_to.bullet_points').each do |bullet_point| %>
          <h3 class="Base-title Base-title--3"><%= raw bullet_point[:title] %></h3>
          <p class="Base-text Base-text--withSeparator">
            <%= raw bullet_point[:description] %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lagoon" id="associates">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h2 class="Base-title Bast-title--2"><%= raw t( 'become_associate.list.title') %></h2>
        <% 3.times do |index| %>
          <p class="Base-text Base-text--withSeparator">
            <%= raw t(
              'become_associate.list.template1', 
              name: @associates_update.public_send("last_associate_name_#{index + 1}"),
              nb_parts: @associates_update.public_send("last_associate_shares_#{index + 1}")
            ) %>
            <% if @associates_update.public_send("last_associate_date_#{index + 1}").present? %>
              <%= raw t('become_associate.list.template2', time: time_ago_in_words(@associates_update.public_send("last_associate_date_#{index + 1}"))) %>.
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
