<% content_for :meta_title, "L'entrepreneuriat au service de l'urgence climatique." %>
<% content_for :meta_desc,
  "Nous sommes une société à but non lucratif qui crée et finance des entreprises
  luttant à l’échelle mondiale contre le dérèglement climatique. Rejoignez-nous !" %>

<div class="Section Section--black Hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <p class="Base-subtitle">
          Nous sommes la dernière génération capable de sauver la planète.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-9">
        <h1 class="Base-title1 Hero-title">Nous rassemblons
          <em>1&nbsp;milliard d'euros</em> pour créer <em>100&nbsp;entreprises</em> luttant contre
          le réchauffement climatique.
        </h1>
      </div>
    </div>
    <i class="Hero-scrollArrow material-icons">arrow_downward</i>
  </div>

</div>

<div class="Section Section--lagoon">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p class="Base-subtitle">
          La façon dont nous utilisons notre argent définit le monde dans lequel nous voulons vivre.
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <h2 class="Base-title2">
          Nous sommes une société à but non lucratif qui crée et finance des entreprises
          luttant à l’échelle mondiale <em>contre le dérèglement climatique.</em>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--twoColors">
  <div class="container">
    <div class="row">
      <div class="col-md-5 Section-text--twoColorsLeft">
        <p class="Base-subtitle">
          Les petits gestes ne suffisent pas.
        </p>
        <h2 class="Base-title2">
          Nous rassemblons de l’argent et des équipes d’entrepreneurs pour créer des entreprises visant
          la sauvegarde de l’humanité.
        </h2>
      </div>
      <div class="col-md-4 offset-md-2 Section-text--twoColorsRight">
        <h3 class="Base-title3">Des solutions</h3>
        <p class="Base-text Base-text--withSeparator">
          Afin de lutter contre le réchauffement climatique des solutions nouvelles ou déjà existantes
          doivent être déployées rapidement et massivement afin d'avoir un réel impact.
        </p>

        <h3 class="Base-title3">Des entrepreneurs</h3>
        <p class="Base-text Base-text--withSeparator">
          L’énergie des créateurs d’entreprise doit être consacrée à 100% à la sauvegarde de la civilisation humaine.
        </p>

        <h3 class="Base-title3">De l'argent</h3>
        <p class="Base-text Base-text--withSeparator">
          Nous investissons dans les entreprises capables de réduire l'impact de l'humanité sur le climat.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="Base-subtitle">
          Sans changement radical, économique et technologique à l’échelle mondiale, notre civilisation va s'éteindre.
        </p>
      </div>
    </div>
    <h2 class="Base-title2">
      Voici 6 exemples d’entreprises que nous allons créer. Chacune d’entre elles aura un impact fondamental
      contre le réchauffement climatique, à l’échelle mondiale.
    </h2>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('stockage-electricite-par-gravite.jpg'),
          picture_alt: 'Stockage électricité par gravité',
          title: "Mankind Energy",
          text: "Système de stockage de l’électricité sans métal, pour une alternative définitive au pétrole et
                à toutes les énergies non renouvelables."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('dirigeable-capture-co2.png'),
          picture_alt: 'Dirigeable capture CO2',
          title: "Carbon Capture",
          text: "Ballons dirigeables placés au dessus des grandes villes pour capturer le CO2 avant qu’il
                ne se disperse dans l'atmosphère."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('stockage-adn.jpg'),
          picture_alt: 'Stockage de données sur ADN',
          title: "DNA Storage",
          text: "Enregistrer les données informatiques sur de l’ADN de synthèse, pour stocker l’ensemble des données
                du monde avec très peu d'utilisation d'énergie."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('banque-ethique.jpg'),
          picture_alt: 'Banque éthique',
          title: "TP Bank",
          text: "Banque dédiée à la stabilité du système financier, qui garantie une utilisation sécurisée,
                rationnelle et éthique de l’argent de ses clients."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('maison-impression-3D.jpg'),
          picture_alt: 'Maison impression 3D',
          title: "Liv’In",
          text: "Technologie de construction en impression 3D du gros-oeuvre de bâtiments à base de matériaux 100% naturels."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: 'shared/picture_card', locals: {
          href: '',
          picture_url: image_path('climatisation-sans-electricite.jpg'),
          picture_alt: 'Climatisation sans électricité',
          title: "Clim’Planet",
          text: "Climatisation fonctionnant sans électricité."
        } %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row Section--white">
    <div class="col-md-6 Section-imageBackground"
      style="background-image: url(<%= image_path('time-planet-incubateur-environnement.jpg') %>">
    </div>
    <div class="col-12 col-md-4 offset-md-1 Section">
      <p class="Base-subtitle">
        Notre motivation : la sauvegarde de la planète.
      </p>
      <h2 class="Base-title2">
        Time for the Planet ne distribue aucun dividende à ses actionnaires ou à ses dirigeants. Nos comptes sont publics.
      </h2>
      <p>
        Les bénéfices générés par les entreprises que nous créons reviennent à Time for the Planet,
        et permettent de créer de nouvelles entreprises.
      </p>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p class="Base-subtitle">
          Nous réussirons ce défi tous ensemble, ou nous échouerons.
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <h2 class="Base-title2">
          Les entreprises créées par Time for the Planet rendront publiques toutes leurs découvertes,
          selon le principe de l'open-source.
        </h2>
      </div>
      <div class="col-md-11 offset-md-1">
        <p>
          Tout ce que nos entreprises découvrent et développent sera public et partagé massivement,
          même avec nos concurrents.
          L’humanité est gagnante quelle que soit l’origine d’une solution au dérèglement climatique.
          Le temps n’est plus à la concurrence, mais à la coopération.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="ContactSection" class="Section Section--darkGreen">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h2 class="Base-title2">
          Une idée, une question, une envie de s'engager financièrement ou humainement ? Contactez-nous !
        </h2>
      </div>
      <div class="col-md-10">
        <a href="https://automate-me.typeform.com/to/GWwIx3"
           data-mode="popup"
           class="Button Button--underlined typeform-share"
           target="_blank">
          Contacter Time for the Planet <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey Team">
  <div class="container Team-gridContainer">
    <%= image_tag 'team.jpg', class: 'Team-picture' %>
    <div class="Team-historyCard">
      <h3 class="Base-title3">Notre histoire</h3>
      <p class="Base-text Base-text--bigger">
        Nous nous appelons Laurent, Mehdi et Nicolas. Nous sommes convaincus de la menace que représente
        le dérèglement climatique. Nous nous sommes posés la question "Comment pouvons-nous agir ?".
        On a fait la liste de nos plus grandes forces et de nos compétences.
      </p>
      <ul class="Base-text Base-text--bigger">
        <li>Nous voulons profondément améliorer l'état de la Planète et de ses Habitants (humains, animaux et végétaux).</li>
        <li>Nous avons une capacité à convaincre et à fédérer autour de nous.</li>
        <li>Nous savons entreprendre et mener des projets (outre des engagements associatifs,
          nous avons cofondé 13 entreprises, dont 11 sont toujours en activité).</li>
        <li>Nous sommes engagés et incorruptibles.</li>
      </ul>
      <p class="Base-text Base-text--bigger">
        Nous avons décidé de mettre ces forces au service de la cause la plus importante de l’Histoire de la Terre :
        sa préservation.
      </p>
    </div>
  </div>
</div>

<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
