<% content_for :meta_title, "L'entrepreneuriat au service de l'urgence climatique. |" %>
<% content_for :meta_desc,
  "Nous sommes une société à but non lucratif qui crée et finance des entreprises
  luttant à l’échelle mondiale contre le dérèglement climatique. Rejoignez-nous ! |" %>

<div class="Section Section--black Hero Section--first">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <p class="Base-subtitle">
          <%= raw t('home.strat1.paragraph1') %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-9">
        <h1 class="Base-title Base-title--1 Hero-title">
          <%= raw t('home.strat1.paragraph2') %>
        </h1>
      </div>
    </div>
    <i class="Hero-scrollArrow material-icons">arrow_downward</i>
  </div>
</div>

<div class="Section Section--lagoon">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p class="Base-subtitle">
          <%= raw t('home.strat2.paragraph1') %>
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <h2 class="Base-title Base-title--2">
          <%= raw t('home.strat2.paragraph2') %>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--twoColors">
  <div class="container">
    <div class="row">
      <div class="col-md-5 Section-text--twoColorsLeft">
        <p class="Base-subtitle">
          <%= raw t('home.key_points.paragraph1') %>
        </p>
        <h2 class="Base-title Base-title--2">
          <%= raw t('home.key_points.paragraph2') %>
        </h2>
      </div>
      <div class="col-md-4 offset-md-2 Section-text--twoColorsRight">
        <% t('home.key_points.bullet_points').each do |bullet_point| %>
          <h3 class="Base-title Base-title--3"><%= bullet_point[:title] %></h3>
          <p class="Base-text Base-text--withSeparator">
            <%= bullet_point[:paragraph] %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="Base-subtitle">
          <%= raw t('home.projects.paragraph1') %>
        </p>
      </div>
    </div>
    <h2 class="Base-title Base-title--2">
      <%= raw t('home.projects.paragraph2') %>
    </h2>

    <div class="row">
      <% t('home.projects.grid').each do |item| %>
        <div class="col-md-6 col-lg-4">
          <%= render partial: 'shared/picture_card', locals: item.merge(picture_url: image_path(item[:picture_url])) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row Section--white">
    <div class="col-md-6 Section-imageBackground"
      style="background-image: url(<%= image_path('time-planet-incubateur-environnement.jpg') %>">
    </div>
    <div class="col-12 col-md-4 offset-md-1 Section">
      <p class="Base-subtitle">
        <%= raw t('home.engagement.paragraph1') %>
      </p>
      <h2 class="Base-title Base-title--2">
        <%= raw t('home.engagement.paragraph2') %>
      </h2>
      <p>
        <%= raw t('home.engagement.paragraph3') %>
      </p>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p class="Base-subtitle">
          <%= raw t('home.together.paragraph1') %>
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <h2 class="Base-title Base-title--2">
          <%= raw t('home.together.paragraph2') %>
        </h2>
      </div>
      <div class="col-md-11 offset-md-1">
        <p>
          <%= raw t('home.together.paragraph3') %>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="ContactSection" class="Section Section--lagoon">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h2 class="Base-title Base-title--2">
          <%= raw t('home.contact.paragraph') %>
        </h2>
      </div>
      <div class="col-md-10">
        <a href="/contact" class="Button Button--underlinedDark">
          <%= raw t('home.contact.button') %> <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>
