<%= render 'shared/navbar' %>

<div class="Section Section--black Hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <p class="Base-subtitle">
          La civilisation humaine est sur le point de s’effondrer en raison du changement climatique.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-9">
        <h1 class="Base-title1 Hero-title">Le monde économique actuel n’investit pas dans l’avenir de la planète.
          <em>Nous&nbsp;si.</em></h1>
      </div>
    </div>
    <i class="Hero-scrollArrow material-icons">arrow_downward</i>
  </div>

</div>

<div class="Section Section--lagoon">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p class="Base-subtitle">
          La façon dont nous utilisons notre argent définit le monde dans lequel nous voulons vivre.
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <h2 class="Base-title2">
          Nous sommes un fond d’investissement à but non lucratif qui crée, rachète et finance des entreprises
          luttant à l’échelle mondiale <em>contre le changement climatique.</em>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--twoColors">
  <div class="container">
    <div class="row">
      <div class="col-md-5 Section-text--twoColorsLeft">
        <p class="Base-subtitle">
          Les petits gestes ne suffisent pas.
        </p>
        <h2 class="Base-title2">
          Nous rassemblons de l’argent et des équipes d’entrepreneurs pour créer des entreprises visant
          la sauvegarde de l’humanité.
        </h2>
      </div>
      <div class="col-md-4 offset-md-2 Section-text--twoColorsRight">
        <h3 class="Base-title3">des solutions</h3>
        <p class="Base-text Base-text--withSeparator">
          Afin de lutter contre le réchauffement climatique des solutions nouvelles ou déjà existantes
          doivent être déployées rapidement et massivement afin d'avoir un réel impact.
        </p>

        <h3 class="Base-title3">des entrepreneurs</h3>
        <p class="Base-text Base-text--withSeparator">
          La mission première des créateurs d’entreprise ne doit plus être de s’enrichir :
          leur énergie doit être consacrée à la sauvegarde de la civilisation humaine.
        </p>

        <h3 class="Base-title3">de l'argent</h3>
        <p class="Base-text Base-text--withSeparator">
          Nous investissons dans les entreprises capables de réduire l'impact de l'humanité sur le climat.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="Section Section--lightGrey">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="Base-subtitle">
          Sans changement radical, économique et technologique à l’échelle mondiale, notre civilisation va s'éteindre.
        </p>
      </div>
    </div>
    <h2 class="Base-title2">
      Nous avons besoin d’entreprises ambitieuses à impact mondial.
      Voici quelques unes des entreprises que nous allons créer :
    </h2>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <%= render partial: "picture_card", locals: {
          title: "Mankind Energy",
          text: "Système de stockage de l’électricité sans métal, pour une alternative définitive au pétrole et
                à toutes les énergies non renouvelables."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: "picture_card", locals: {
          title: "Carbon Capture",
          text: "Usine de transformation du CO2 en hydrogène, pour cesser immédiatement les émissions
                de CO2 dans l'atmosphère par l'industrie et les transports."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: "picture_card", locals: {
          title: "DNA Storage",
          text: "Enregistrer les données informatiques sur de l’ADN de synthèse, pour stocker l’ensemble des données
                du monde avec presque 0 émissions de CO2."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: "picture_card", locals: {
          title: "TP Bank",
          text: "Banque dédiée à la stabilité du système financier, qui garantie une utilisation sécurisée,
                rationnelle et éthique de l’argent de ses clients."
        } %>
      </div>

      <div class="col-md-6 col-lg-4">
        <%= render partial: "picture_card", locals: {
          title: "Liv’In",
          text: "Technologie de construction en impression 3D du gros-oeuvre de bâtiments à base de matériaux 100M% naturels."
        } %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row Section--white">
    <div class="col-md-6 Section-imageBackground"
      style="background-image: url(<%= image_path('art-background-blur-1964471.jpg') %>">
    </div>
    <div class="col-12 col-md-4 offset-md-1 Section">
      <p class="Base-subtitle">
        Notre motivation : la sauvegarde de la planète.
      </p>
      <h2 class="Base-title2">
        Time for the Planet ne distribue aucun dividende à ses actionnaires ou à ses dirigeants. Nos comptes sont publics.
      </h2>
      <p class="Base-text">
        Les bénéfices générés par les entreprises que nous créons reviennent à Time for the Planet,
        et permettent de créer de nouvelles entreprises.
      </p>
    </div>
  </div>
</div>

<div id="ContactSection" class="Section Section--darkGreen">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="Base-subtitle">
          Nous sommes la dernière génération capable de sauver la planète.
        </p>
      </div>
      <div class="col-md-11">
        <h2 class="Base-title2">
          Une idée, une question, une envie de s'engager financièrement ou humainement ? Contactez-nous !
        </h2>
      </div>
      <div class="col-md-10">
        <a href="/" class="Button--underlined" data-paperform-id="qo9tiika" data-popup-button="1">
          Contacter Time for the Planet <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  (function() { var script = document.createElement('script'); script.src = "https://paperform.co/__embed";document.body.appendChild(script); })()
</script>
