<!DOCTYPE html>
<html>
  <head>
    <title>TimePlanet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Detect device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title><%= yield(:meta_title) %> | Time for the Planet</title>
    <meta name="description" content="<%= yield(:meta_desc) %>" />
    <meta name="title" content="<%= yield(:meta_title) %> | Time for the Planet" />
  </head>

  <body class="Base <%= body_class %>">
    <%= yield %>
  </body>
</html>
