<!DOCTYPE html>
<html>
  <head>
    <title>TimePlanet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Detect device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title><%= yield(:meta_title) %> | Time for the Planet</title>
    <meta name="description" content="<%= yield(:meta_desc) %>" />
    <meta name="title" content="<%= yield(:meta_title) %> | Time for the Planet" />

    <script type=“text/javascript”>(function(o){var b="https://briskpelican.io/anywhere/",t="348c95184062484db81adab9d6f192af7e10d92a95e64f4aa3eb4f8e4511a242",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
  </head>

  <body class="Base <%= body_class %>">
    <%= yield %>
  </body>
</html>
